@import './base.css';

#app {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  display: grid;
    /* 20% side bar and 80% */
  grid-template-columns: 2fr 8fr;
  padding: 0 2rem;
}

body{
  background-color: #dc4545;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 500px) {
  body {
    /* width: 100vw; */
    display: flex;
    place-items: center;
    /* background-color: #272727; */
    /* background-color: #dc4545; */
  }


  #app {
    display: grid;
    /* 20% side bar and 80% */
    grid-template-columns: 2fr 8fr;
    padding: 0 2rem;
  }
}
